<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Ajouter un Client</title>
</head>
<body>
    <h1>Ajouter un Nouveau Client</h1>
    <form action="/" method="post">
        <label for="nom">Nom:</label>
        <input type="text" id="nom" name="nom" required>
        <label for="prenom">Prénom:</label>
        <input type="text" id="prenom" name="prenom" required>
        <label for="adresse">messages:</label>
        <input type="text" id="adresse" name="adresse" required>
        <button type="submit">Ajouter le Client</button>
    </form>
</body>
</html>