<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Message Count Chart</title>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
</head>

<body>
    <div id="chart_div"></div>
    <script>
        google.charts.load('current', { packages: ['corechart'] });
        google.charts.setOnLoadCallback(drawMessageCountChart);

        function drawMessageCountChart() {
            function drawChart(data) {
                var dataTable = new google.visualization.DataTable();
                dataTable.addColumn('string', 'Date');
                dataTable.addColumn('number', 'Message Count');

                data.results.forEach(entry => {
                    dataTable.addRow([entry.date, entry.count]);
                });

                var options = {
                    title: 'Message Count Per Day',
                    legend: { position: 'none' }
                };

                var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
                chart.draw(dataTable, options);
            }

            fetch('/message_count/5625719273')
                .then(response => response.json())
                .then(data => {
                    drawChart(data);
                });
        }
    </script>
</body>
</html>
